.pageContainer{
	width: 1024px;
	margin: auto;
	height: 1000px;
}

.bannerContainer{
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align:middle;
	font-size: 80px;
}

body {
	background-image:url(../img/sb.jpg);
}