body {
  margin: 0px;
}
nav {
  padding: 11px;
  text-align: center;
  font-family: 'Baloo', sans-serif;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  

background: #fe8c00; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.link-3 {
  transition: 0.2s;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 11px 10px;
}