body {
  margin: 0px;
}
nav {
  padding: 11px;
  text-align: center;
  font-family: 'Baloo', sans-serif;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  background: #FF6200;
}

.link-3 {
  transition: 0.2s;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 11px 10px;
}